@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    rgb(20, 20, 20),
    rgb(71, 71, 71),
    rgb(20, 20, 20)
  );
}

.container {
  max-width: 600px;
  margin: auto;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.panel {
  background-size: cover;
  background-position: top left;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
  height: 50px;
  transition: height 700ms ease-in;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.panel:hover {
  opacity: 1;
}

.panel a {
  color: white;
  font-weight: 700;
  font-size: 18px;
  background-color: rgba(0, 0, 0);
  border: 1px solid white;
  border-radius: 75px;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.4s, background-color 0.3s;
}

.panel a::after {
  content: " 🔗";
}

.panel a:hover {
  background-color: rgb(33, 22, 131);
}

.panel.active {
  height: 500px;
  opacity: 1;
}

.panel.active a {
  opacity: 1;
}
